<div class="container">
		<div class="d-flex p-3">
			<div class="p-3">
				<div class="row py-3">
					<div class="col-md-12">
						<h4>Why be a provider with KnowYourNeighbour?</h4>
					</div>
				</div>
				<div class="row py-3">
					<div class="col-md-3">
						<img src="src/assets/images/growth.png">
					</div>
					<div class="col-md-7">
						<b>Use your skills to Earn </b>
						<small id="skillEarn" class="form-text text-muted">Help neighbours with your hobbies and skills alongwith earning a little pocket money</small>
					</div>
				</div>
				<div class="row py-3">
					<div class="col-md-3">
						<img src="src/assets/images/findClients.png">
					</div>
					<div class="col-md-7">
						<b> Easy search of customers/clients</b>
						<small id="findCustomer" class="form-text text-muted"> Search for clients/customers in your nearby area</small>
					</div>
				</div>
				<div class="row py-3">
					<div class="col-md-3">
						<img src="src/assets/images/boss.png">
					</div>
					<div class="col-md-7">
						<b> Work on you own terms </b>
						<small id="boss" class="form-text text-muted"> Work at time and price rates as per your convinence</small>
					</div>
				</div>
				<div class="row py-3">
					<div class="col-md-3">
						<img src="src/assets/images/business-tools.png">
					</div>
					<div class="col-md-7">
						<b> Easy online payment and invoice </b>
						<small id="payment" class="form-text text-muted"> Get Easy tools for payments and invoicing </small>
					</div>
				</div>
			</div>
			<app-login></app-login>
		</div>
		<div class="d-flex p-5">
			<div class="col-md-12">
				<h4>How does KnowYourNeighbour Work?</h4>
				
				<p class="p-2"><img src="src/assets/images/customer-req.png"> Accept customer request </p>
				
				<p class="p-2"><img src="src/assets/images/chat.png"> Chat and discuss details with customer </p>
				
				<p class="p-2"><img src="src/assets/images/payment-method.png"> Customer makes payment to start service</p>
				
			</div>
		</div>
		<app-register></app-register>
	</div> 