
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="navbar-header">
    <label class="navbar-brand" href="#">
      <img src="src/assets/images/icon.png" width="40" height="30" class="d-inline-block align-top" alt="" style="padding-right: 5px">
      {{ appTitle }}
    </label>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" [routerLink]="['home']">{{ home }}</a>
      <div class="dropdown">
        <a class="btn btn-outline-primary dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{ signInUp }}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="['user']">User</a>
          <a class="dropdown-item" [routerLink]="['professional']">Professional</a>
        </div>
      </div> 

    </div>
  </div>
</nav>