<div class="col-md-5 card bg-light p-3">
		<form>
			<div class="form-group row">
				<label for="providerEmail"  class="col-2 col-form-label">Email address :</label>
				<div class="col-10">
					<input type="email" class="form-control" id="providerEmail" aria-describedby="emailHelp">
					<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
				</div>
			</div>
			<div class="form-group row">
				<label for="providerPhNo" class="col-2 col-form-label">Phone no :</label>
				<div class="col-10">
					<input class="form-control" type="tel"  id="providerPhNo">
				</div>
			</div>
			<div class="form-group row">
				<label for="providerAddress1" class="col-2 col-form-label">Address: </label>
				<div class="col-10">
					<input class="form-control" type="address"  id="providerAddress1">
				</div>
			</div>
			<div class="form-group row">
				<label for="providerAddress2" class="col-2 col-form-label">Address 2: </label>
				<div class="col-10">
					<input class="form-control" type="address"  id="providerAddress2">
				</div>
			</div>
			<div class="form-group row">
				<label for="providerCity" class="col-2 col-form-label">City: </label>
				<div class="col-3">
					<input class="form-control" type="address"  id="providerCity">
				</div>
				<label for="providerState" class="col-2 col-form-label">State: </label>
				<div class="col-2">
					<input class="form-control" type="address"  id="providerState">
				</div>
				<label for="providerZip" class="col-1 col-form-label">Zip: </label>
				<div class="col-2">
					<input class="form-control" type="address"  id="providerZip">
				</div>
			</div>
			<div class="form-group row">
				<label for="providerPassword" class="col-2 col-form-label">Password : </label>
				<div class="col-10">
					<input class="form-control" type="password"  id="providerPassword">
				</div>
			</div>
			<div class="form-group row">
				<label for="providerCheckPassword" class="col-2 col-form-label">Re-enter Password : </label>
				<div class="col-10">
					<input class="form-control" type="password"  id="providerCheckPassword">
				</div>
			</div>
			<div class="form-group row">
				<label for="providerService" class="col-2 col-form-label">Your Service : </label>
				<div class="col-10">
					<select id="providerService" class="form-control">
						<option selected>Choose...</option>
						<option>Cooking Services</option>
					</select>
				</div>
			</div>
			
			<div class="form-group text-center">
				<button type="submit" class="btn btn-outline-primary text-center">Submit</button>
			</div>
		</form>
	</div>