<div class="align-self-right p-5">
	<div class="card border-dark mb-3 bg-light">
		<h5 class="card-title p-3">
			Log In to KnowYourNeighbour
		</h5>
		<div class="card-body">
			<form (ngSubmit)="onSubmitLoginProfessional()" [formGroup]="professionalLoginForm">
				<div class="form-group">
					<label for="emailProfessional">Email address :</label>
					<input type="email" class="form-control" id="emailProfessional" name="emailProfessional" placeholder="Enter email" formControlName= "emailProfessional">
					<span class="help-block"  *ngIf="!this.professionalLoginForm.get('emailProfessional').valid && this.professionalLoginForm.get('emailProfessional').touched"> 
						<span *ngIf="this.professionalLoginForm.get('emailProfessional').hasError('required')">Email is required</span>
						<span *ngIf="this.professionalLoginForm.get('emailProfessional').hasError('email')">Enter valid email</span>
						<!-- <span *ngIf="this.professionalLoginForm.get('emailProfessional').hasError('emailExists')">Professional with this email already exists</span> -->
					</span>
				</div>
				<div class="form-group">
					<label for="passwordProfessional">Password : </label>
					<input type="password" class="form-control" id="passwordProfessional" name="passwordProfessional" placeholder="Enter Password" formControlName= "passwordProfessional">
					<span class="help-block"  *ngIf="!this.professionalLoginForm.get('passwordProfessional').valid && this.professionalLoginForm.get('passwordProfessional').touched"> 
						<span *ngIf="this.professionalLoginForm.get('passwordProfessional').hasError('required')">Password is required</span>
						<!-- <span *ngIf="this.professionalLoginForm.get('passwordProfessional').hasError('pattern')">Password should contain 1 uppercase, 1 lowercase, 1 number and 1 special character</span> -->
					</span>

				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-outline-secondary" [disabled]="!this.professionalLoginForm.valid">Log In</button>
				</div>
			</form>
		</div>
		<div class="card-footer">
			Don't have an account?
			<a href="#" data-toggle="modal" data-target="#registerProvider">click here</a> to be service-provider
		</div>
	</div> 
</div>
