
<div class="row">
	<div class="col-sm-12">
		<form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
			<div class="row">
				<div class="col-sm-12 btn-toolbar">
					<div class="btn-group mr-2">
						<button type="submit" class="btn btn-outline-primary"> Save </button>
					</div>
					<div class="btn-group mr-2">
						<button type="button" class="btn btn-outline-danger" (click)="onCancel()"> Cancel </button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label for="Name"> Title :  </label>
						<input type="text" name="name" class="form-control" formControlName="title">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="mainCategory"> Main Category :  </label>
						<input type="text" name="mainCategory" class="form-control" formControlName="main_category">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="subCategory"> Sub Category :  </label>
						<input type="text" name="subCategory" class="form-control" formControlName="sub_category">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="rate"> Rate :  </label>
						<input type="number" name="rate" class="form-control" formControlName="rate">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="imagePath"> Image URL :  </label>
						<input type="text" name="imagePath" class="form-control" formControlName="imagePath"  #imagePath>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<img class="img-responsve" [src]="imagePath.value" width="150" height="150">	
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label for="description"> Description :  </label>
						<textarea name="description" class="form-control" type="text" rows="4" formControlName="description"></textarea>
					</div>
				</div>
			</div>
			<hr>
			<!-- <button class="btn btn-outline-success" type="button"> Uplaod Images +</button> -->
		</form>
	</div>
</div>