
<!-- <div class="row">
	<div class="col-md-7">
		div1
	</div> -->

	<div class="d-flex p-5">
		<div class="p-5">
			<h4>Why to be a provider with KnowYourNeighbour?</h4>
			<ul>
				<li><img src="src/assets/images/findClients.png"></li>
				<li><img src="src/assets/images/growth.png"></li>
				<li><img src="src/assets/images/business-tools.png"></li>
				<li><img src="src/assets/images/boss.png"></li>
			</ul>
		</div>
		<app-provider-login></app-provider-login>
	</div>
		<app-provider-register></app-provider-register>


	<!-- <p>
		service-provider works!
	</p> -->
	<!-- </div> -->
